html, body {width:100%; height:100%; margin:0; padding:0}
.aMainTable {width:100%; height:100%}
.aMainTable td {text-align:center}

.aLoginForm {margin:auto 0; text-align:center; padding:0}

/* Border Table */
.aBorderTable {border:0; border-collapse:collapse; background:#f0f4fa; margin:auto}
.aBorderTable .top .lft, .aBorderTable .top .cnt, .aBorderTable .top .rgt, .aBorderTable .bot .lft, .aBorderTable .bot .cnt, .aBorderTable .bot .rgt {background-image:url(/engine/admin/gfx/borderTable.png)}
.aBorderTable .mid .lft, .aBorderTable .mid .rgt {background-image:url(/engine/admin/gfx/borderTableLR.png)}
.aBorderTable .top, .aBorderTable .bot {height:16px}
.aBorderTable .lft, .aBorderTable .rgt {width:8px}
.aBorderTable .top .lft {background-position:0 0}
.aBorderTable .top .cnt {background-position:0 -16px}
.aBorderTable .top .rgt {background-position:0 -32px}
.aBorderTable .mid .lft {background-position:0 0}
.aBorderTable .mid .rgt {background-position:-8px 0}
.aBorderTable .bot .lft {background-position:0 -80px}
.aBorderTable .bot .cnt {background-position:0 -64px}
.aBorderTable .bot .rgt {background-position:0 -48px}
.aBorderTable .lft i, .aBorderTable .rgt i {display:block; font-size:0; line-height:0; height:15px; width:8px}

.aLoginTable {margin:10px 10px 0 0}
.aLoginTable th {text-align:right; font:30px "freesans",Arial, Helvetica, sans-serif; padding-left:15px}
.aLoginTable td {text-align:left; padding:2px 5px 2px 0; font:12px "freesans", Arial, Helvetica, sans-serif}
.aLoginTable input {font:30px "freesans",Arial, Helvetica, sans-serif;}
.aLoginTable .txt {width:200px}
.aLoginTable .txt:focus {border:2px solid #F90; -moz-border-radius:3px; border-radius:3px; background:#fff}
#remind {margin:0}

/* Messages */
.msgWarning {border:1px solid #ff9; background:#ffe; margin:20px auto; font:12px "free sans",Tahoma,Arial,Helvetica,sans-serif}
.msgWarning.w {width:100%}
.msgWarning td, .msgWarning th {padding:5px}
.msgWarning i {background:url(/engine/admin/gfx/msg.png) no-repeat 0 0; display:block; width:32px; height:32px}
.msgError {border:1px solid #f00; background:#fff; margin:10px auto; font:12px "free sans",Tahoma,Arial,Helvetica,sans-serif; color:#f00}
.msgError td, .msgError th {padding:5px}
.msgError i {background:url(/engine/admin/gfx/msg.png) no-repeat 0 0; display:block; width:32px; height:32px}

.logo {margin:0 auto 10px auto; font:bold 12px Tahoma, Arial, Helvetica, sans-serif; padding:0}
.cvek td {font:10px Tahoma, Arial, Helvetica, sans-serif; color:#bbb; text-align:right !important; background:#fff}
.cvek a:link, .cvek a:visited {color:#bbb; text-decoration:none}
.cvek a:hover {color:#a2b6cf; text-decoration:none}