html, body {height:100%; padding:0; margin:0}
form {padding:0; margin:0;}
font, th, td, p, li {font-size:12px; font-family:Verdana,Arial,Helvetica,sans-serif; color:#666; line-height:120%}
p {margin:0 0 15px 0; padding:0}
img {border:0}
table {empty-cells:show}
a:link {text-decoration:underline;color:#069}
a:visited {text-decoration:underline;color:#069}
a:hover {text-decoration:none; color:#c00}

.aMainTable {width:100%; height:100%}

#aHeader td {background:url(/engine/admin/gfx/topper_bg.png) repeat-x 0 0; height:57px}
#aHeader table {width:100%; border:0; border-collapse:collapse}
#aHeader th a {display:block; width:220px; height:57px; line-height:0; font-size:0}
#aHeader th {width:220px; background:url(/engine/admin/gfx/logo.png) no-repeat left top}
#aHeader td.rgt {background:url(/engine/admin/gfx/topper_bg.png) repeat-x 0 0}
#aHeader td.rgt i {display:block; width:400px; height:1px; line-height:0; font-size:0}
#aHeader td.rgt ul {position:absolute; right:55px; top:38px; margin:0; padding:0; list-style:none}
#aHeader td.rgt li {float:left; margin:0 20px 0 0; font:11px Tahoma, Arial, Helvetica, sans-serif, "free sans"; color:#FFF}
#aHeader td.tosite {background:url(/engine/admin/gfx/tosite.png) repeat-x 0 0; width:130px; color:#fff; text-align:right; font:12px "Trebuchet MS", Arial, Tahoma, sans-serif; vertical-align:top}
#aHeader td.tosite i {display:block; width:130px; height:1px; line-height:0; font-size:0}
#aHeader td.tosite a {margin:6px 15px 0 0; display:block; float:right}
#aHeader a:link, #aHeader a:visited {color:#fff; text-shadow:none}
#aHeader a:hover {color:#fff; text-shadow:0px 0px 5px #fff}
#aHeader .version {margin:0; padding:3px 0 0 0; position:absolute; top:5px; left:180px; font:10px Verdana, Arial, Helvetica, sans-serif; color:#000; text-shadow:1px 1px 0 #666; cursor:default}

#aFooter td {font:10px Verdana, Arial, Helvetica, sans-serif; background:url(/engine/admin/gfx/but.png) repeat-x left -100px; border-top:1px solid #ddd}
#aFooter div {margin:5px 0 5px 10px}
#aFooter a:link, #aFooter a:visited {color:#000; text-decoration:none}
#aFooter a:hover {text-decoration:underline}

.aMenu {background:#d7e1f1; vertical-align:top; padding:10px; height:100%}
.aMenu .hdr {width:100%; border-collapse:collapse; border:0}
.aMenu .hdr td {background-image:url(/engine/admin/gfx/but.png); background-repeat:no-repeat}
.aMenu .hdr i {display:block; height:1px; width:10px; font-size:0; line-height:0}
.aMenu .hdr .lft {background-position:left top; width:10px}
.aMenu .hdr .cnt {background-position:center top; padding:5px 0; color:#fff; font:bold 13px  Tahoma, Arial, Helvetica, sans-serif}
.aMenu .hdr .rgt {background-position:right top}
.aMenu .hdr.cur .lft {background-position:left -50px}
.aMenu .hdr.cur .cnt {background-position:center -50px}
.aMenu .hdr.cur .rgt {background-position:right -50px}


.aMenu i {display:block; width:225px; height:0; line-height:0; font-size:0}
.aMenu ul {background:#fff  url(/engine/admin/gfx/but.png) repeat-x 0 -100px; margin:0; padding:0; list-style:none; display:none}
.aMenu ul.cur {display:block}
.aMenu li {padding:8px 8px 3px 12px; font:bold 12px "Trebuchet MS", Arial, Tahoma, sans-serif}
.aMenu a:link b, .aMenu a:visited b {color:#163193}
.aMenu a:hover b {color:#000}
.aMenu a:link, .aMenu a:active, .aMenu a:visited {color:#898989; text-decoration:none}
.aMenu a:hover {color:#000; text-decoration:none}


.aMenu .sub {position:relative; height:3px; background:url(/engine/admin/gfx/but_sub.png) no-repeat right bottom; margin:0 0 10px 0; padding:0}
.aMenu .sub b {position:absolute; display:block; height:3px; width:10px; top:0; left:0; background:url(/engine/admin/gfx/but_sub.png) no-repeat left bottom; line-height:0; font-size:0}

td.aContent {border:1px solid #98aab1; width:100%; vertical-align:top}
div.aContent {margin:10px 20px; padding:0}
  .aContentDiv {width:100%; margin:0; padding:0}
.aContent h1 {font:24px/26px "Trebuchet MS", Arial, Tahoma, sans-serif; margin:0}

/* Panel */
.aHorPanel {width:100%; border-collapse:collapse; height:32px}
.aHorPanel.top {margin:20px 0 0 0}
.aHorPanel.bot {margin:10px 0 10px 0}
.aHorPanelTd {text-align:center; width:auto}
.aHorPanel a:visited, .admHorPanel a:link {color:#069; text-decoration:none}
.aHorPanel a:hover {color:#ddd; text-decoration:none}
.aHorPanel .colL {background:url('/engine/admin/gfx/panels.png') no-repeat left top; width:3px}
.aHorPanel .colM {background:url('/engine/admin/gfx/panels.png') repeat-x left -32px;}
.aHorPanel .colR {background:url('/engine/admin/gfx/panels.png') no-repeat right -64px; width:3px}
.aHorPanel b.sep {display:block; width:3px; height:25px; line-height:0; font-size:0; margin:0 5px; background:url(/engine/admin/gfx/misc.png) no-repeat 0 -28px}

/* Popup menu */
.aPopMenu {position:absolute; border:1px solid #999; display:none; margin:1px 0 0 0; padding:5px 0; list-style:none; border-left:20px solid #ddd; background:#fff}
.aPopMenu li {padding:4px 5px 4px 6px; font:10px Verdana, Arial, Helvetica, sans-serif; margin:0; white-space:nowrap}
.aPopMenu a:link, .aPopMenu a:visited {text-decoration:none}

/* ruler */
.aRuler {font:bold 10px Verdana, Arial, Helvetica, sans-serif; color:#000; margin:10px 0 0 0; padding:0}
.aRuler a:link, .aRuler a:visited {color:#069; text-decoration:none}
.aRuler a:hover {color:#ddd; text-decoration:none}
.aRuler b {display:block; font-size:0; line-height:0; float:left; width:7px; height:7px; background:url('/engine/admin/gfx/misc.png') no-repeat left -53px; margin:3px 3px 0 0}

/* Border Table */
.aBorderTable {border:0; border-collapse:collapse; background:#f0f4fa; width:100%; margin:10px 0 0 0}
.aBorderTable .top .lft, .aBorderTable .top .cnt, .aBorderTable .top .rgt, .aBorderTable .bot .lft, .aBorderTable .bot .cnt, .aBorderTable .bot .rgt {background-image:url(/engine/admin/gfx/borderTable.png)}
.aBorderTable .mid .lft, .aBorderTable .mid .rgt {background-image:url(/engine/admin/gfx/borderTableLR.png)}
.aBorderTable .top, .aBorderTable .bot {height:16px}
.aBorderTable .lft, .aBorderTable .rgt {width:8px}
.aBorderTable .top .lft {background-position:0 0}
.aBorderTable .top .cnt {background-position:0 -16px}
.aBorderTable .top .rgt {background-position:0 -32px}
.aBorderTable .mid .lft {background-position:0 0}
.aBorderTable .mid .rgt {background-position:-8px 0}
.aBorderTable .bot .lft {background-position:0 -80px}
.aBorderTable .bot .cnt {background-position:0 -64px}
.aBorderTable .bot .rgt {background-position:0 -48px}
.aBorderTable .lft i, .aBorderTable .rgt i {display:block; font-size:0; line-height:0; height:15px; width:8px}


/* Content Table */
.aContTable {border:1px solid #A2B6CF; margin:10px 0 0 0; background:#fff}
.aContTable th {border-right:1px solid #fff; text-align:left; font-family:Arial,Helvetica,sans-serif; padding:10px; color:#fff}
.aContTable th.alt_ru {background-position:left 0}
.aContTable th.alt_fi {background-position:left 0}
.aContTable th.alt_km {background-position:left -76px}
.aContTable th.alt_en {background-position:left -152px}
.aContTable th.alt_de {background-position:left -228px}
.aContTable th.alt_al {background-position:left -304px}
.aContTable th.alt_fr {background-position:left -76px}
.aContTable .ui-state-active {border:0 !important}

/* Instance table */
.aInstanceList {width:100%}
.aInstanceList td {border-bottom:1px solid #ddd}
.aInstanceList tr.base {background:#fff}
.aInstanceList tr.alt {background:#f6f6f6}

.aInstanceList th a:link, .aInstanceList th a:active, .aInstanceList th a:visited {color:#fff; text-decoration:none}
.aInstanceList th a:hover {color:#ddd; text-decoration:none}

.aInstanceList td a:link, .aInstanceList td a:active, .aInstanceList td a:visited {color:#00f; text-decoration:none}
.aInstanceList td a:hover {color:#c00; text-decoration:none}

/* Data Types */
.aInstanceListVoid {border-right:none !important}
.aInstanceListNum {width:1%; text-align:center; padding:0 5px}
.aInstanceListString {padding:7px}
.aInstanceListRef {width:1%; text-align:center; padding:5px}
.aInstanceListOneRef {width:1%; text-align:left; padding:5px}
.aInstanceListOneRef table {border:0; border-collapse:collapse}
.aInstanceListOneRef th {padding:0 10px 0 0; background:none}
.aInstanceListOneRef td {border:none}
.aInstanceListImg {padding:5px; width:1%}

.aInstanceAdditional {border:1px solid #ddd; padding:10px 5px}
.aInstanceAdditionalData {display:none; margin:10px 0 0 0}
.aInstanceAdditionalData table {width:100%; border:0; border-collapse:collapse}
.aInstanceAdditionalData .cap {background:none !important}

/* InstanceStatus */
.aInstanceList .status {float:left}
.aInstanceList .status div {background-image:url(/engine/admin/gfx/misc.png); background-repeat:no-repeat; width:15px; height:14px; padding:0 5px 0 0}
.aInstanceList .status td {border:0}
.aInstanceList .status .vis {background-position:0 -129px}/* visibility */
.aInstanceList .status .hnd {background-position:0 -143px}/* handler */
.aInstanceList .status .chl {background-position:0 -157px}/* child list */
.aInstanceList .status .fll {background-position:0 -171px}/* link to first file */
.aInstanceList .status .otl {background-position:0 -185px}/* link to outer url */
.aInstanceList .status .lnk {background-position:0 -249px}/* link to site page */
.aInstanceList .status .lnk a {display:block; height: 12px; width: 14px}
.aInstanceList .status .frst_chl {background-position:0 -211px; height: 12px;}/* link to first child */


/* PropertyList */
.aPropertyList {width:100%}
.aPropertyList td {vertical-align:top}
.aPropertyList .cap {text-align:right; font-weight:bold; padding:10px; width:30%; background:#f8fafd; border-bottom:1px dotted #ddd}
.aPropertyList .val {padding:10px; border-bottom:1px dotted #ddd}
.aPropertyList .val ul {margin:5px 0 15px 0; padding:0 0 0 20px}
.aPropertyList .big {padding:5px; border:0; border-bottom:1px dotted #ddd !important}
.aPropertyList .iEdit {width:100%; background: url("/engine/admin/gfx/input-bg.gif") repeat-x 0 0}
.aPropertyList .iTextarea {width:100%}
textarea {background:url(/engine/admin/gfx/textareabg.gif) repeat-x 0 0 !important}

.aCheckboxList {list-style:none}

/* ObjectPropertyList */
.aObjectPropertyList .item {margin:0 0 10px 0; padding:0 0 10px 0; border-bottom:1px solid #eee}
.aObjectPropertyList label {line-height:24px; white-space:nowrap;}
.aObjectPropertyList .wide {width:100%}
.aObjectPropertyList .delite {display:none; float:right; width:12px; height:12px; background:url(/engine/admin/gfx/misc.png) no-repeat 0 -199px; cursor:pointer; font-size:0; line-height:0}

/* ButtonContainer */
.aButtonContainer {padding:10px}


/* Actions */
.aDelLoc a, .aDelLocNo i, .aView i, .aViewNo i, .aEdit a, .aEditNo i, .aDelete a, .aDeleteNo i, .aFolder a, .aFolderF a, .aSubData i, .aSubDataNo i {background-image:url(/engine/admin/gfx/actions.png); background-repeat:no-repeat}
.aFolder a {background-position:left 0; font-size:10px; line-height:10px;}
.aFolderF a {background-position:left -32px; font-size:10px; line-height:10px;}
.aFolder b, .aFolderF b {display:block; padding-top:15px}
.aEdit a {background-position:left -64px}
.aEditNo i {background-position:left -96px}
.aDelete a {background-position:left -128px}
.aDeleteNo i {background-position:left -160px}
.aDelLoc a {background-position:left -192px}
.aDelLocNo i {background-position:left -224px}
.aView i {background-position:left -256px}
.aViewNo i {background-position:left -288px}
.aSubData i {background-position:left -320px}
.aSubDataNo i {background-position:left -352px}
.aDelLocNo i, .aView i, .aViewNo i, .aEditNo i, .aDeleteNo i, .aDelete a, .aEdit a, .aFolder a, .aFolderF a, .aSubData i, .aSubDataNo i, .aDelLoc a {display:block; width:32px; height:32px; margin:0 auto}
.aDelLocNo i, .aView i, .aViewNo i, .aEditNo i, .aDeleteNo i, .aDelete a, .aEdit a, .aSubData i, .aSubDataNo i, .aDelLoc a {font-size:0; line-height:0;}
.aSubData div {position:relative}
.aSubData ul {position:absolute; background:#fff; border:1px solid #f66; right:38px; top:2px; margin:0; padding:5px; text-align:left; list-style:none; display:none; z-index:100}
.aSubData li {white-space:nowrap; margin:0; padding:0; font-size:10px; font-family:Verdana, Arial, Helvetica, sans-serif; line-height:150%}

/* InfoCells */
.iGalka { text-align:center}
.iGalka i {display:block; width:16px; height:14px; line-height:0; font-size:0; margin:0 auto; background:url('/engine/admin/gfx/misc.png') left -69px}

.iComment {text-align:left}
.iComment a {padding:0 0 0 20px; background:url('/engine/admin/gfx/misc.png') no-repeat left -223px; display:block; height:13px}

.ui-sortable .ui-state-highlight sup {margin:3px 0 0 0; display:block; font-weight:normal; text-align:right}
.ui-sortable .ui-state-default {cursor:move}

/* Language Switch */
#langSw {position:absolute; top:58px; right:2px; height:30px; border:0; border-collapse:collapse}
#langSw .lft {background:url(/engine/admin/gfx/borderTable.png) no-repeat left -128px; width:8px}
#langSw .rgt {background:url(/engine/admin/gfx/borderTable.png) repeat-x left -158px; vertical-align:top}

#langs {list-style:none; margin:0; padding:0; text-align:right; border:0}
#langs td {padding:0; width:42px}
#langs a:link, #langs a:visited, #langs i {padding:2px 3px 0 2px; text-align:right; display:block; overflow:hidden; text-decoration:none; font:14px/17px "Courier New", Courier, monospace; position:relative}
#langs a:hover {text-decoration:none}
#langs b {display:block; font-size:0; line-height:0; width:16px; height:12px; position:absolute; top:3px; right:22px; margin:0}
#langs a b {cursor:pointer}
#langs i {color:#000}
#langs .ru b  { background:url(/engine/admin/gfx/flags.png) no-repeat 0 0}
#langs .en b  { background:url(/engine/admin/gfx/flags.png) no-repeat 0 -12px}
#langs .de b  { background:url(/engine/admin/gfx/flags.png) no-repeat 0 -24px}
#langs .km b  { background:url(/engine/admin/gfx/flags.png) no-repeat 0 -36px}
#langs .fr b  { background:url(/engine/admin/gfx/flags.png) no-repeat 0 -48px}
#langs .al b  { background:url(/engine/admin/gfx/flags.png) no-repeat 0 -60px}
#langs .cur {background:url(/engine/admin/gfx/misc.png) repeat-x 0 -83px; border:1px solid #8ea3c1}

/* Site Switch */
#siteSw {position:absolute; top:58px; left:248px; height:30px; border:0; border-collapse:collapse}
#siteSw .lft {background:url(/engine/admin/gfx/borderTable.png) repeat-x left -158px; vertical-align:top}
#siteSw .rgt {background:url(/engine/admin/gfx/borderTable.png) no-repeat left -188px; width:8px}
#siteSw select {margin:2px 0 0 10px; border:1px solid #ccc}
.siteSwBr {height:30px; margin:0; padding:0}

/* Page Switcher */
.aPageSw {text-align:center; overflow:hidden; clear:both}
.aPageSw ul {margin:10px 0 0 auto; padding:0; list-style:none; float:right}
.aPageSw li {float:left; margin:0 0 0 10px; padding:0; height:19px; font:10px/16px Tahoma,Arial,Helvetica,sans-serif; background:url('/engine/admin/gfx/pg_sw.png') no-repeat 0 0}
.aPageSw a, .aPageSw b {padding:0 0 0 10px;  text-align:right; margin:0}
.aPageSw i {margin:0 0 0 auto; padding:0 10px 0 0}
.aPageSw a, .aPageSw b, .aPageSw i {display:block; float:left; font-style:normal; height:19px; background-image:url('/engine/admin/gfx/pg_sw.png'); background-repeat:no-repeat}
.aPageSw a:link, .aPageSw a:visited {background-position:0 0; text-decoration:none}
.aPageSw a:link i, .aPageSw a:visited i {background-position:right 0; cursor:pointer}
.aPageSw a:hover {background-position:0 -19px; text-decoration:none}
.aPageSw a:hover i {background-position:right -19px; cursor:pointer}
.aPageSw b {background-position:0 -38px}
.aPageSw b i {background-position:right -38px}
.aPageSw .pageRec {float:right; margin:10px 0 0 20px}

/* Search */
.aSearch {text-align:right; white-space:nowrap}
.aSearch form {float:right;position:relative;}
.aSearch .fields {}
.aSearch .txt {padding-right:20px; margin:0}
.aSearch .lupa {position:absolute; top:4px; right: 4px; width:13px; height:13px; cursor: pointer; background:url(/engine/admin/gfx/misc.png) no-repeat 0 -236px}

/* Fields */
.admField {border:1px solid #14b632}

/* Messages */
.msgWarning {border:1px solid #ccc; background:#f6f6f6; margin:20px auto; font:12px "free sans",Tahoma,Arial,Helvetica,sans-serif}
.msgWarning.w {width:100%}
.msgWarning td, .msgWarning th {padding:5px}
.msgWarning i {background:url(/engine/admin/gfx/msg.png) no-repeat 0 0; display:block; width:32px; height:32px}
.msgError {border:1px solid #f00; background:#fff; margin:10px auto; font:12px "free sans",Tahoma,Arial,Helvetica,sans-serif; color:#f00}
.msgError td, .msgError th {padding:5px}
.msgError i {background:url(/engine/admin/gfx/msg.png) no-repeat 0 0; display:block; width:32px; height:32px}
.msgNotNull {display:none; color:#f00}
.msgFWarning{display:block; color:#f00}

/* Start page */
.aStartPageTable {border:0; border-collapse:collapse}
.aStartPageTable th {padding:20px 0}
.aStartPageTable td {vertical-align:top; padding:0 30px}
.aStartPageObject {text-align:center; border-right:1px solid #ddd}
.aStartPageObject i {display:block; font-size:0; line-height:0; width:48px; height:48px; margin:0 auto; background-image:url(/engine/admin/gfx/objects.png); background-repeat:no-repeat}
.aStartPageObject h2 {font:bold 12px Tahoma, Arial, Verdana; margin:0 auto; padding:0}
.aStartPageObjectLink {display:block; float:left; clear:both}
.aStartPageObjectLink i {background:url(/engine/admin/gfx/misc.png) no-repeat 0 -120px; display:block; width:9px; height:9px; float:left; font-size:0; line-height:0; margin:3px 5px 0 0}

/* Visual Elements */
.editorZag {padding:10px; font-weight:bold}
.editorContainer {padding:0 10px 10px 10px}


/* About Developers */
.digitalAgeTable {width:100%; border:0; border-collapse:collapse; margin:20px 0}
.digitalAgeTable th {width:43px; vertical-align:top}
.digitalAgeTable th i {width:43px; display:block; font-size:0; line-height:0; height:43px; background-image:url(/engine/admin/gfx/digitalAge.png); background-repeat:no-repeat}
.digitalAgeTable th i.tel {background-position:0 0}
.digitalAgeTable th i.mail {background-position:0 -86px}
.digitalAgeTable th i.adr {background-position:0 -43px}
.digitalAgeTable td {vertical-align:top; width:30%; padding:0 10px}


.about:link, .about:visited {font-size:12px; color: #FFF; text-decoration:none}
.about:hover {color:#ddd; text-decoration:none}

/* Necessary fields */
.notNullField.red {border:1px solid #e71928}
.nullField, .notNullField.green {border:1px solid #14b632}

.elementToggle {display:none}

/* MultiItems selector */
.aMultiItems {margin:0 0 10px 0; padding:0 0 0 15px}
.aMultiItems li {clear:both; padding:0 0 10px 0}
.aModalBg {z-index: 300007; background:#000; position:fixed; top:0; left:0; width:100%; height:100%; opacity:0.3; -ms-filter:"alpha(opacity=30)"; filter:alpha(opacity=30); //position:absolute; top:expression(eval(document.body.scrollTop)+'px'); height:expression(eval(document.body.clientHeight)+'px')}
.aModalWnd {border:1px solid #ddd; z-index:300009; position:absolute; background:#fff}
.aModalWnd iframe {border-collapse:collapse; border:0}
.aModalWnd .aButtonContainer {background:#ddd; border-top:1px solid #666}
.aModalWndBody #aHeader, .aModalWndBody #aFooter, .aModalWndBody .aMenu {display:none}
.aModalWndBody div.aContent {margin:10px}
.del {background:url(/engine/admin/gfx/misc.png) no-repeat left -199px; width:14px; height:14px; line-height:14px; font-size:10px; font-family:sans-serif; cursor:pointer; padding:0 5px; margin:0 0 0 5px; vertical-align:text-bottom}


/* Panel Button */
.btn {height:25px; border-collapse:collapse; border:0; font:11px/11px Tahoma, Arial, Helvetica, sans-serif, "free sans" !important; margin:0 5px; cursor:pointer}
.btn .btnLeft, .btn .btnCenter, .btn .btnRight {background-image:url('/engine/admin/gfx/panels.png'); vertical-align:middle; color:#000}
.btn .btnLeft {background-repeat:no-repeat; background-position:left -96px; width:4px}
.btn .btnLeft b {display:block; width:14px; height:14px; line-height:0; font-size:0; margin:0 0 0 5px}
.btn .btnCenter {background-repeat:repeat-x; background-position:left -121px; padding:0 5px 0 5px}
.btn td.btnRight {background-repeat:no-repeat; background-position:right -146px; width:5px}
.btn th.btnRight {background-repeat:no-repeat; background-position:left -171px; width:14px}
.btn a:link, .btn a:visited, .btn a:hover {color:#333 !important; text-decoration:none}

.btn .bNew {background:url(/engine/admin/gfx/misc.png) no-repeat 2px top}
.btn .bSort {background:url(/engine/admin/gfx/misc.png) no-repeat left -14px}
.btn .bUpLevel {background:url(/engine/admin/gfx/misc.png) no-repeat left -106px}

.elementToggle {display:none}

.aModulePlace {float:left; width:300px}
.aModulePlace p {margin:0 0 3px 0; font-weight:bold}
.aModulePlace ul {list-style-type:none; padding:0 0 10px 0 !important; margin:0 10px 10px 0 !important; border:1px solid #ccc}
.aModulePlace li {cursor:move}
#placeNonVisible ul {border:1px solid #f00}

/* File upload form */
.aFileUpload .fileList {color:black; list-style:none; padding:0 !important; margin:0 !important; overflow:hidden; width:100%}
.aFileUpload .fileList li {float:left; margin:0; padding:0 0 10px 0; position:relative; width:160px}
.aFileUpload .fileList a {background-image:url(/engine/admin/gfx/fileIcons.png); background-repeat:no-repeat; display:block; padding:3px 0 3px 20px; width:100px; overflow:hidden; white-space:nowrap; margin:0}
.aFileUpload .fileList .unk {background-position:-240px 0}
.aFileUpload .fileList .xls {background-position:-208px -32px}
.aFileUpload .fileList .doc {background-position:-176px -64px}
.aFileUpload .fileList .docx {background-position:-176px -64px}
.aFileUpload .fileList .txt {background-position:-176px -64px}
.aFileUpload .fileList .jpg {background-position:-144px -96px}
.aFileUpload .fileList .jpeg {background-position:-144px -96px}
.aFileUpload .fileList .png {background-position:-144px -96px}
.aFileUpload .fileList .gif {background-position:-144px -96px}
.aFileUpload .fileList .bmp {background-position:-144px -96px}
.aFileUpload .fileList .rar {background-position:-112px -128px}
.aFileUpload .fileList .mp3 {background-position:-49px -192px}
.aFileUpload .fileList .avi {background-position:-20px -224px}
.aFileUpload .fileList .mpg {background-position:-20px -224px}
.aFileUpload .fileList .pdf {background-position:-81px -160px}
.aFileUpload .fileList b {display:none; width:12px; height:12px; background:url(/engine/admin/gfx/misc.png) no-repeat 0 -199px; position:absolute; top:4px; left:125px; cursor:pointer; font-size:0; line-height:0}
.aFileUpload .fileList b.ani {background:url(/engine/admin/gfx/loading_s.gif) no-repeat 0 0; width:16px; height:16px}
.aFileUpload .filesUploadInput {width:40ex}
.uploadAnimation {background:url(/engine/admin/gfx/loading_s.gif) no-repeat 0 0; display:none; padding:0 10px; font-size:16px}


/* DatePicker */
.ui-widget {font-size:12px !important}
.admDate {width:100px; background:url("/engine/admin/gfx/calendar.gif") no-repeat 2px 2px; border:1px solid #7F9DB9; padding:0 0 0 20px; height:21px;}

/* Cache options */
.admCacheOptions {padding:10px}
.admCacheOptions p {margin:10px 0 5px 0; font-weight:bold;}
.admCacheOptions div {}
.aCacheModeSettings {margin:10px 0 0 0 !important;}
.aCacheModeAutoSettings, .aCacheModeManualSettings {list-style:none; padding:0  !important}
.aCacheInDBSettings {list-style:none; padding: 0 0 0 20px;}


/* aHint */
.aHint {position:absolute; right:20px; bottom:20px; z-index:1; display:none}
.aObjParamHintTool {cursor:help; display:inline-table; vertical-align:middle; margin:0 0 0 1px; font-size:0; line-height:0; width:16px; height:16px}
.aObjParamEditTool {cursor:pointer; display:inline-table; vertical-align:middle; margin:0 0 0 1px; font-size:0; line-height:0; width:16px; height:16px}
.aObjectEditTool {display:inline-table; vertical-align:middle; margin:5px 5px 0 10px; font-size:0; line-height:0; width:16px; height:16px}
.aTitleHint {position:absolute; top:0; left:0; display:none}
.aTitleHint .ui-state-highlight {padding:5px}

/* TinyMCE */
.mceContentBody {background-attachment: fixed; background-repeat:repeat-x !important; background-image: url(/engine/admin/gfx/textareabg.gif) !important}

/* aCacheSettings */
.aCacheSettingsList .item {margin:0 0 30px 0}
