html, body {padding:0; margin:0; font-size:12px; font-family:Arial,Tahoma,Verdana; background-color:#fff; line-height:120%}
table { empty-cells:show}
td, th {font-size:14px; font-family:"free sans",Arial,Tahoma, Verdana, Arial; line-height:120%}
a:link {color:#879179; text-decoration:underline;}
a:visited {color:#879179; text-decoration:underline;}
a:hover {color:#c36635; text-decoration:none;}
a:active {color:#879179; text-decoration:underline}
p {margin:0 0 15px 0}
img {border:0;}
sup {vertical-align:super; font-size:70%}

.z {font-size:0; line-height:0; display:block; height:0}
.clr {clear: both; font-size:0; line-height:0; height:0} /* clearing <div class="clr"></div> */
h2 {font-size:20px; margin:0 0 20px 0; text-shadow:0 2px 5px rgba(0, 0, 0, 0.1); line-height:24px}
h3 {font-size:16px; margin:0 0 20px 0; line-height:18px}
.defList, .defList ul {margin:0 0 0 0; padding:0; list-style:none !important}
.defList li {margin:0; padding:5px 0; clear:both}
.arch {border-top:1px solid #999; padding:10px 0 0 0; margin:10px 0 0 0}

ul, ol {padding:0 0 0 20px; margin:0}
li {margin:0}
p {margin:0 0 15px 0}

table {empty-cells:show}
h1 {font-size:24px; line-height:120%; color:#879179; font-weight:normal; margin-left:30px; padding-right:55px;}
h2 {font-size:20px; margin-left:15px;}
h3 {font-size:16px; margin-left:15px;}
h4 {font-size:14px; color:#C36635; margin-top:30px; margin-left:15px; margin-bottom: 7px;}
h5 {font-size:12px}
h6 {font-size:10px}

/* Content Table */
.cTable{margin-left:15px;}
.cTable td {padding:0 20px 20px 0;}
.cTableB {border-top:1px solid #666; border-left:1px solid #666; margin-left:15px;}
.cTableB td {padding:5px; border-right:1px solid #666; border-bottom:1px solid #666}
.cTableB th {padding:5px; border-right:1px solid #666; border-bottom:1px solid #666; text-align:left}
.cTable h2{margin-bottom:5px; margin-top:10px;}
.informPartners{margin-top:10px;}
.safety h3{margin-bottom:10px; margin-top:20px;}