html, body { width:100%; text-align:center;  background: url("/gfx/bg-summer.png") no-repeat center bottom;}

.orange { background:url(/gfx/bg_pat_orange.png) repeat 0 0}
.orange .cContent { color:#333}
.orange td { color:#333}
.orange p { color:#333}

.blue { background:url(/gfx/bg_pat_blue.png) repeat 0 0}
.blue .cContent { color:#333}
.blue td { color:#333}
.blue p { color:#333}

.black { background:url(/gfx/bg_pat_black.png) repeat 0 0}
.black .cContent { color:#879179}
.black td { color:#879179}
.black p { color:#879179}

.grey { background:url(/gfx/bg_pat_grey.png) repeat 0 0}
.grey .cContent { color:#000}
.grey td { color:#000}
.grey p { color:#000}

.winter{ background:url(/gfx/bg_pat_winter.png) repeat 0 0}
.winter .cContent { color:#fff}
.winter td { color:#fff}
.winter p { color:#fff}

.winterWhite{ background:url(/gfx/bg_pat_winterwhite.png) repeat 0 0}
.winterWhite .cContent { color:#000}
.winterWhite td { color:#000}
.winterWhite p { color:#000}

/*.winter html, .winter body{ background:url(/gfx/bg.png) no-repeat center bottom}
.winterWhite html, .winterWhite body{ background:url(/gfx/bg2.png) no-repeat center bottom}*/


/*html{ background:url(/gfx/bg_pat_blue.png) repeat 0 0; }*/
.clr { clear:both}

/****************************************/

.cWhiteBox { background:#fff; box-shadow: 0 1px 3px rgba(0,0,0,.35); -webkit-box-shadow: 0 1px 3px rgba(0,0,0,.35); -moz-box-shadow: 0 1px 3px rgba(0,0,0,.35); }

.cRoundAll { border-radius: 4px; -webkit-border-radius: 4px; -moz-border-radius: 4px; }

/* Commons */
.cContent { margin:15px 15px -40px; width:615px; }
.cContent ul{ margin-left:15px; font-size: 12px; }
.cContent li{ line-height:1.5; }
.cContentBlock { margin:0 auto; text-align:left; width:1000px; position: relative; }
.fFooterBlock {
    height: 515px;
    text-align: center;
    width: 100%;
}
.fFooterBlock div {
    color: #000000;
    font-size: 11px;
    font-weight: bold;
}
.fFooterBlock div a {
    color: #000000;
}
.fFooterBlock .joke1{    height: 169px;
    position: absolute;
    right: 207px; 
    top: 348px;  cursor:pointer;
    width: 105px;}
.footer{ width:1000px; margin:0 auto;  position:relative;}
.button {     height: 35px;
    margin: 460px -82px 0 0;
    position: relative;
    text-align: center;
    width:255px;
    float: right;
    z-index: 1;
}

.button:before {    background: none repeat scroll 0 0 #DDDDDD;
    border-radius: 100px 100px 100px 100px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4) inset;
    content: "";
    display: block;
    height: 100%;
    left: -15px;
    opacity: 0.3; filter: alpha(opacity=30);
    padding: 15px;
    position: absolute;
    top: -15px;
    width: 100%;
    z-index: -1;
}
.fFooterBlock .joke2{ overflow: hidden; cursor: pointer;
    height: 135px;
    position: absolute;
    right: 537px;
    top: 198px;
    width: 180px;}
/* Header */
#hHeadContainer { height:137px; width:1000px; margin:20px auto; text-align:left}
#hHeader { position:relative; height:100px; width:1000px}
#hHeader .logo { position:absolute; top:15px; left:25px}
#hHeader .slogan { position:absolute; top:72px; left:26px; color:green; font:12px Verdana, Arial, sans; margin:0; padding:0}


#hMenu { background:#e6e6e6; height:36px; width:1000px; position:relative}
#hMenu ul { height:36px; margin:0 0 0 5px; list-style:none}
#hMenu li { float:left; height:36px; line-height:36px}
#hMenu a { padding:0 20px 0 20px; background-color:#eee; background-repeat:no-repeat; height:36px; display:block; text-shadow:0px 1px 3px #333}
#hMenu a:link, #hMenu a:visited { color:#fff; text-decoration:none; background-position:right 0}
#hMenu a:hover { text-decoration:none; background-position:right -36px}
#hMenu a:active { text-decoration:none; background-position:right -72px}
#hMenu b { padding:0 20px; background-color:#ccc; background-repeat:no-repeat; background-position:right -108px; display:block; height:36px; color:#fff; font-weight:normal; text-shadow:0px 1px 3px #333}

.cContentBlock .logo{ margin-top:22px; display: block; padding:0 0 0 7px}
.cContentBlock .menu{ margin-top:125px; width:650px; }
.cContentBlock .menu div{ //margin-bottom:-16px; }
.cContentBlock .menu th{ white-space: nowrap; vertical-align: middle; text-align:left; //padding:0 15px 0 28px!important; padding:13px 15px 9px 28px; text-transform: uppercase; font:bold 20px Calibri,Arial, Helvetica, sans-serif; color:#879179; border-top:1px solid #EAECE5; }
.cContentBlock .menu .first{ border-top:none; }
.cContentBlock .menu li { text-transform: uppercase; padding-bottom:5px; float:left; padding-right:10px; font:14px Calibri,Arial, Helvetica, sans-serif; }
.cContentBlock .menu li a, .cContentBlock .menu li a:link, .cContentBlock .menu li a:visited{ text-decoration:none; /*border-bottom:1px dotted*/}
.cContentBlock .menu li a:hover { border-bottom:1px dotted #c36635; }

.cContentBlock .menu ul{ list-style:none; padding-left:10px; padding-top: 4px; overflow:hidden; }
.cContentBlock .menu td{ text-align:left; padding:13px 0 9px 7px; vertical-align: middle; border-top:1px solid #EAECE5; text-align:left; color:#879179} 
.cContent p { font-size:12px; margin-left:15px; }
.cContentBlock .middle div{ //margin-bottom:-16px; }
.cContentBlock .menu .middle{ color:#fff; }

.cContent .menu{ margin-left:-15px; }
.cPageSw .menu{ margin-left:-4px; }
.cBanPlace{ width:620px; margin-left:28px; margin-top:37px; }
.cBanPlace th{ width:100px; padding-right:15px; text-align:left; }
.cBanPlace th img{ padding:7px; border:1px solid #e9ebe3; }
.cBanPlace td{ width:180px; text-align:left; font: 12px Arial, Helvetica, sans-serif; padding-right:25px; padding-top:5px; }
.cBanPlace td a, .cBanPlace td a:link, .cBanPlace td a:visited{ border-left:none; border-right:none; font-size:12px; font-weight:normal; text-decoration:underline; display:block; margin-top:9px; background:none; }
.cBanPlace th a:hover{ background:none; }
.cBanPlace td a:hover{ text-decoraton:none; }
.cBanPlace th a{ border-left:none!important; border-right:none!important; }
.cRuler{ margin-bottom:35px; }
.cRuler table{ width: 620px; margin-top: 72px; }
.cRuler tr{ background:url("../gfx/5.png") repeat-y 0 0!important; }
.cRuler th, .cRuler td, .cRuler a{ color:#c36635!important; }
.cRuler th{ white-space: nowrap; }
.cRuler th, .cRuler td{ border-bottom: 1px solid #EAECE5; border-top:none; }
.cRuler a{ border-bottom:1px dotted #c36635; text-decoration:none; }
.cRuler a:hover{ border-bottom:none!important; }
/* Page Switcher */
.cPageSw { width: 640px; margin: 15px 0 -40px 15px; padding: 10px 0; font: 12px Verdana, Arial, Helvetica, sans-serif; overflow:hidden}
.cPageSw ul { list-style:none; padding:0; margin:0}
.cPageSw li { float:left; margin:0 -1px 0 0}
.cPageSw a,.cPageSw a:visited, .cPageSw a:link { font-family:Arial; border-left:1px solid #eaece6; border-right:1px solid #eaece6; font-famile:Arial; font-weight:bold; border-color:1px solid #EEEEEE; font-size:18px; padding:2px 7px; text-decoration:none; }
.cPageSw a:hover { text-decoration: none !important; background-color:#f9f3dc}
.cPageSw b { margin-bottom:-1px; display:block; font-weight:normal; border-left:1px solid #eaece6; border-right:1px solid #eaece6; color:#c15f2d !important; padding: 2px 7px; font: bold 18px Arial, Helvetica, sans-serif; background:#f9f3dc; }
.cPageSw i { font-style:normal; }

.cPageSw .cPageSw { margin: -15px 0 -15px 24px; }
.cPageSw  .cBanPlace{ margin-left:20px; }
/* Comments */
#cCommentTag { border-top:1px solid #DDD; margin:40px 0 10px 0; padding:20px 0 0}
#cCommentTag a:link, #cCommentTag a:visited, #cCommentTag a:hover { border-bottom:1px dashed; text-decoration:none}

.cCommentArea { display:none}
.cCommentList { margin-bottom:40px}
.cCommentList .item { padding:8px 10px; margin:40px 0 0 0}
.cCommentList .name { font:bold 16px "Trebuchet MS", Arial, Helvetica, sans-serif; margin:0 10px 2px 0; display:inline}
.cCommentList .date { font:9px Tahoma, Arial, Verdana, sans-serif; color:#999; margin:0 0 5px 0; display:inline}
.cCommentList .hvost { background:url(../gfx/rpl.png) no-repeat 0 0; display:block; float:right; height:11px; margin:-19px 15px 0 0; width:9px}
.cCommentList .txt { margin:0 0 2px 0; line-height:130%}
.cCommentList .tools { float:right; font:10px Tahoma, Arial, Verdana; padding:0 0 5px 0}
.cCommentList .tools a:link, .cCommentList .tools a:visited { text-decoration:none; border-bottom:1px dashed}
.cCommentList .tools a:hover { border-bottom:0}
.cCommentList ul { list-style:none; padding:0; margin:0}
.cCommentList ul ul { padding:0 0 0 20px}
.commentbody { margin:15px 0 0 0}

.commentView:link, .commentView:visited  { text-decoration:none; border-bottom:1px dashed}
.commentView:hover { text-decoration:none; border-bottom:none}

/* Comments sendForm */
.cSendForm { margin:0 0 15px 0; padding:10px; border-top:1px dashed; }
.cSendForm label.hdr { cursor:text; width:90px; display:block; float:left; font:bold 12px/32px Arial, Helvetica, sans-serif; }
.cSendForm .row input.text { width:285px; margin:0 0 10px 0; font:22px/22px Arial, Helvetica, sans-serif}
.cSendForm .row textarea { width:590px; margin:0 0 10px 0; font:14px/16px Arial, Helvetica, sans-serif}
.cSendForm select { margin:11px 0 0 10px; font:12px/14px Arial, Helvetica, sans-serif}
.cSendForm div { margin:0; clear:left}
.cSendForm .row { cursor:text; text-align:left}
/*.cSendForm .file, .cSendForm .text { height:40px}
.cSendForm .area { height:140px}
.cSendForm .area textarea { height:130px}*/
.cSendForm .file input { margin:11px 0 0 10px}
.cSendForm .void { color:#ccc}
.cSendForm .button { margin:0 20px 0 0}
.cSendForm .row .checkbox { margin:0 5px 0 10px}
.cSendForm .toggleDiv { margin:0 15px}
.cSendForm h2 { margin:0 15px 20px 15px}
.cSendForm h2 a:link, .cSendForm h2 a:visited { text-decoration:none; border-bottom:1px dashed}
.cSendForm h2 a:hover { text-decoration:none; border-bottom:0}

.capchaRow label { margin:0 10px 0 0}
.capcha { border:0 !important; border-collapse:collapse; width:auto !important}
.capcha td, .capcha th { margin:0 !important; padding:0 5px 0 0 !important; vertical-align:middle !important; background:none !important; width:auto}
.capcha input { font:25px Arial,Helvetica,sans-serif !important; height:35px; width:70px}




/* Congratulations */
.mModule { margin:40px 20px 0 30px; padding:20px 20px 20px 30px; line-height:130%}

.shares { padding:0 0 20px 0; margin-bottom: -70px; }
.yashare-auto-init { float:right}
.yashare { display:inline; margin-left:15px; }
.yashare .b-share { padding-left:0 !important}
.googlePlusone { margin:0 0 0 10px; }
.googlePlusone div { vertical-align:middle; //display:inline !important; }
.surprise {
    color: #999999;
    display: none;
    position: absolute;
    right: 15px;
    top: 325px;
}

.moduletable_lnscd { font-size:12px; padding-bottom:10px; margin:35px 0 0 10px}
.moduletable_lnscd h3 { margin:0 0 6px 0; font:16px/16px Calibri,Arial,Helvetica,sans-serif; padding-top:0}
.moduletable_lnscd .brend {margin-bottom:20px}
.molniya { background:url(/gfx/light.png) no-repeat 0 3px; text-indent:20px !important; line-height:100% !important; margin-bottom: 30px !important; }

.videozapis{ background:url(/gfx/movie.png) no-repeat 0 2px; text-indent:20px !important; line-height:100% !important}

.cModuleBlock .games img{ padding: 0; border:none; }
.cModuleBlock .games h3{ font:bold 14px Arial; color:#a1ab9a; text-align:left; margin:0}
.cModuleBlock .games td{ padding-top:3px}
.winterWhite .summer, .winterWhite .summer:link, .winterWhite .summer:visited{ position: absolute; right: 0; color:#879179; top: 25px; }
.winter .summer, .winter .summer:link,.winter .summer:visited, .orange .summer, .black .summer, .grey .summer, .blue .summer{ position: absolute; right: 0;  top: 10px; }
.winter .summer2, .winter .summer2:link,.winter .summer2:visited, .orange .summer2, .black .summer2, .grey .summer2, .blue .summer2{ position: absolute; right: 0; top: 30px; }
.winter .summer3, .winter .summer3:link,.winter .summer3:visited, .orange .summer3, .black .summer3, .grey .summer3, .blue .summer3{  position: absolute; right: 0; top: 50px; }
.winter .summer4, .winter .summer4:link,.winter .summer4:visited, .orange .summer4, .black .summer4, .grey .summer4, .blue .summer4{  position: absolute; right: 0; top: 70px; }
.winter .summer6, .winter .summer6:link,.winter .summer6:visited, .orange .summer6, .black .summer6, .grey .summer6, .blue .summer6{position: absolute; right: 0; top: 90px; }






 .winterWhite  .cContentBlock .menu th, .winterWhite .cContentBlock .menu td{ border-top:1px solid #dee7e5}
#RemainsFullDays, #RemainsFullDays1{ font:bold 14px Arial; padding-right:11px; }
#clock b, #clock1 b{ font:normal 14px Arial}
#clock, #clock1{ margin-top:10px; display:block}

.online:link, .online:visited { position:absolute; top:25px; left:306px; font-size:18px; color:#f8ef9f}

.cPicLoad{ height: 600px; left: 50%; margin-left: -275px; margin-top: -300px; position: absolute; top: 50%; width: 549px; }
.pageOfLoad{ background:#fff; }
.cHistoty{ right: 3%; top: 10%; position:absolute}
.cHistoty p{ margin-bottom:10px}
.cHistoty a{ display:block; margin-bottom:5px}

.main_link { left: 305px; position: absolute; top: 5px;}

.sBlock {
  margin: 20px 0px;
}

span.contSearchSel {
  background-color: #fff;
  color: #000;
  padding: 2px;
}

.black #searchBox {
    background: url("/gfx/search.png") no-repeat scroll 0 0 transparent;
    height: 25px;
    margin: 3px 0 0 6px;
    width: 175px;
}
.blue #searchBox, .orange #searchBox, .grey #searchBox{    background: url("/gfx/search_black.png") no-repeat scroll 0 0 transparent;
    height: 25px;
    margin: 3px 0 0 6px;
    width: 175px;
}
#sStr {
    background: none repeat scroll 0 0 transparent;
    border: medium none;
    color: #fff;
    font: 14px Calibri,sans-serif;
    height: 17px;
    margin: 2px 0 0 0;
    padding-top: 1px;
    width: 117px;    
    padding-left: 30px;
}
.blue #sStr, .orange #sStr, .grey #sStr{color:#879179}
#searchBox a, #searchBox a:visited, #searchBox a:link, #searchBox a:hover {
    display: block;
    float: right;
    height: 20px;
    width: 26px;
}

.sResult .sHeader{font-size:16px}
.sResult li{margin-bottom:20px}