  /* v 1.00 (если вносите изменения - меняйте версию) */

/* Настраиваемая часть */
.cPhotogalleryList .pic img {border:5px solid #fff}
.cPhotogalleryList .pic:link, .cPhotogalleryList .pic:link i, .cPhotogalleryList .pic:link b {
  border:1px solid #ccc !important; background:#fff !important;
}
.cPhotogalleryList .pic:visited, .cPhotogalleryList .pic:visited i, .cPhotogalleryList .pic:visited b {
  border:1px solid #ccc !important; background:#fff !important;
}
.cPhotogalleryList .pic:hover, .cPhotogalleryList .pic:hover i, .cPhotogalleryList .pic:hover b {
  border:1px solid #aaa !important; background:#eee !important;
}
.cPhotogalleryList .name {margin:0 0 10px 0; font-size:16px}
.cPhotogalleryPhotoList {margin: -1em 0 0 0; font-size:10px;}
.cPhotogalleryPhotoList .item {margin: 2em 0 0 0; min-width: 200px; font-size:10px; width: 20em;} /* Для указанного размера шрифта необходимо подогнать количество em в ИЕ */
.cPhotogalleryPhotoList .item .galm {margin: 0 0 146px 0; width: 200px}
.cPhotogalleryPhotoList a:hover img {border:2px solid #ddd}

.cPhotogalleryBack {margin:0 0 20px 0}


/* Постоянная часть */
.cPhotogalleryList {overflow:hidden}
.cPhotogalleryList .item {padding:0 0 20px 0; margin:0; overflow:hidden}
.cPhotogalleryList .pic {position:relative; float:left; margin:0; top:6px; left:4px; padding:0; display:block}
.cPhotogalleryList .pic img {display:block}
.cPhotogalleryList .pic i, .cPhotogalleryList b {position:relative; top:-3px; left:-3px; display:block; margin:0}
.gmImgWithText .item {}
.gmImgWithText .item .pic {margin-right:20px}
.gmImgWithText .item .nameText {}
.gmImgList .item {float:left}
.gmImgList .item .nameText {display:none}
.gmImgList .item .clr {display:none}
.cPhotogalleryPhotoList {clear:both}
<!­­[if IE]>
.cPhotogalleryPhotoList {position: relative; display: inline-block; clear: both}
<![endif]-->
.cPhotogalleryPhotoList:after {content: ''; display: block; clear: both;}
.cPhotogalleryPhotoList .item {position: relative; float: left; display: inline; overflow: hidden}
.cPhotogalleryPhotoList .item .galr {position: absolute; top: 0; left: 0; width: 100%;}
.cPhotogalleryPhotoList .item .galm {height: 4em}