.cNewsCategory {margin-bottom:20px}
.cNewsCategory .ui-corner-left {border-bottom-left-radius:0}
.cNewsCategory .ui-corner-right {border-top-right-radius:0;}
.cNewsCategory .ui-button {margin-right:0}
.cNewsCategory a {font-size:12px; width:200px}


/* News selector */
.mNewsSelector {padding:0; margin:10px 0}
.mNewsSelector h2 {font:32px "Trebuchet MS", Arial, Helvetica, sans-serif; margin:0 0 0 30px}
.mNewsSelector ul {padding:0; margin:0}
.mNewsSelector li {font:16px/16px "Trebuchet MS", Arial, Helvetica, sans-serif; position:relative; padding:5px 10px 5px 30px; background-image:url(/gfx/arr.png); background-repeat:no-repeat; background-position:14px 11px; //background-position:14px 14px}
.mNewsSelector li.cur {background-color:#e6e6e6; font-weight:bold; text-shadow:0 1px 1px rgba(0, 0, 0, 0.1); padding:15px 10px 15px 30px; background-position:14px -124px;//background-position:14px -121px}
.mNewsSelector a:link, .mNewsSelector a:visited {display:block}
.mNewsSelector a:hover {text-decoration:none}

.mNewsList {margin:30px 0 0 10px; padding:0}
.mNewsList h2 {clear:both;  margin:5px 0 0; font:12px Arial,sans-serif;}
.mNewsList .item {margin:5px 0 5px 0; padding:0 0 19px; clear:left}
.mNewsList .date {float: left; font:10px/1.1 Arial,Geneva,sans-serif; text-align:center; width:58px; color:#fff; background:url("/gfx/a.png") repeat-x 0 0; height: 11px;}
.mNewsList .text {font:12px/1.3  Arial, Helvetica, sans-serif; margin:1px 0 0 0; color:#333;}
.mNewsList .more {font:12px "Trebuchet MS", Arial, Helvetica, sans-serif; text-align:right; clear:left; display:none}
.mNewsList h3 {font:14px/16px 'Trebuchet MS',Arial,sans-serif; margin:0}
.mNewsList a:link, .mNewsList a:visited {}
.mNewsList a:hover {text-decoration:none}
.mNewsList .rss {margin:0 0 0 10px}
.mNewsList .rss img {vertical-align:baseline}
.mNewsList .addYandex {position:relative; margin:0 0 0 5px; vertical-align:baseline}
.mNewsList .addYandex img {clip: rect(60px, 428px, 76px, 400px); position:absolute; top:-57px; left:-400px; vertical-align:baseline}
.mNewsList .photo {margin:6px 6px 6px 0; float:left}
.mNewsList .photo img {width:100px}
.mNewsList .archive {margin:20px 0; clear:left}
.mNewsList .src{width:120px; float:left; margin: -3px 0 1px 5px; font-size:10px; line-height:120%}
/* News */
.cNewsList .src{width:450px; float:left; margin: -3px 0 0 5px; font-size:10px}
.cNewsList{margin:15px; width: 600px; padding-right:40px;}
.cNewsList .item {margin:-5px 0 30px -5px; padding:5px}
.cNewsList .date, .cNewsSingle .date {float: left; font:10px/1.1 Arial,Geneva,sans-serif; text-align:center; width:57px; color:#fff; background:url("/gfx/a.png") repeat-x 0 0; height: 11px;}
.cNewsSingle .date{width:auto; float:left; padding:0 5px;}
.cNewsSingle .src{width:450px; float:left; margin: -2px 0 15px 5px; font-size:10px}
.cNewsSingle .date {margin-left:15px;}
.print{padding-bottom: 3px; background:url(/gfx/rint.png) no-repeat 0 0; float:right; padding-left:25px; font-size:12px;}
.cNewsList h3 {clear:both; margin:0; padding:0; text-shadow:none; font:12px/1.4 Arial,sans-serif; padding-top:5px;}
.cNewsList h3:first-letter {text-transform:uppercase}
.cNewsList h3 a {margin:0 10px 0 0}
.cNewsList .text {clear:both; font:12px Arial,sans-serif;; margin-top:3px; cursor: default}
.cNewsList .more {font:12px Arial, Helvetica, sans-serif; text-align:right; margin:3px 30px 0 0}
.cNewsSingle .archive {margin:20px 0 24px 15px; clear:left; font-size:12px;}
.cNewsSingle .photo {margin:0 0 20px 0}
.cNewsSingle .photo img{margin:15px 15px 0;}

.cNewsSingle {position:relative; padding-right: 50px;}
.cNewsSingle .text{margin-top:5px; clear: both;}
.cNewsSingle .prev, .cNewsSingle .next {position:absolute; top:-40px; display:none}
.cNewsSingle .prev a:link, .cNewsSingle .prev a:visited, .cNewsSingle .next a:link, .cNewsSingle .next a:visited {background-image:url(/gfx/arrowSprite.png); text-decoration:none; display: block; width: 20px; height: 26px;}
.cNewsSingle .prev {left:-40px}
.cNewsSingle .prev a {background-position:0 0}
.cNewsSingle .prev a:hover {background-position:0 -26px}
.cNewsSingle .next {left:615px}
.cNewsSingle .next a {background-position:-20px 0}
.cNewsSingle .next a:hover {background-position:-20px -26px}