﻿/* Consultations */
.cConsultationList {margin:0 0 150px 0}
.cConsultationList .item {padding:0 0 25px 0; border-bottom:1px dashed #ccc; margin:0 0 15px 0}
.cConsultationSingle .item {padding:0 0 25px 0; margin:0 0 15px 0}
.cConsultationList .date, .cConsultationSingle .date {font:9px Tahoma, Arial, Verdana, sans-serif; color:#999; margin:0 0 10px 0; display:inline; vertical-align:baseline}
.cConsultationList .date a, .cConsultationSingle .date a {vertical-align:baseline}
.cConsultationList .name, .cConsultationSingle .name {font:bold 18px Georgia, "Times New Roman", Times, serif; margin:0 10px 2px 0; display:inline; vertical-align:baseline}
.cConsultationList .citata, .cConsultationSingle .citata {padding:8px 10px; margin:10px 0 0 0}
.cConsultationList .citata .date, .cConsultationSingle .citata .date {color:#666}
.cConsultationList .hvost, .cConsultationSingle .hvost {display:none}
.cConsultationList .ask, .cConsultationSingle .ask {margin:0 0 12px 0}
.cConsultationList .specialist, .cConsultationSingle .specialist {font:bold 18px Georgia, "Times New Roman", Times, serif; margin:0 0 2px 0}
.cConsultationList .ans sup, .cConsultationSingle .ans sup {font:10px Verdana, Arial, sans; vertical-align:super}
.cConsultationList .ans, .cConsultationSingle .ans {margin:15px 0 2px 0}
.cConsultationList .foto, .cConsultationSingle .foto {float:left; margin:2px 15px 5px 0; display:block}
.cConsultationList .com {float:right; margin:2px 0 0 5px}
.cConsultationList .com sup {font-size:70%; vertical-align:super}
.cConsultationList .com a {padding:0; line-height:20px}
.cConsultationList .com a.nocomment {}
.cConsultationList .com a.comment {}
.cConsultationList .all, .cConsultationSingle .all {margin:-5px 0 40px 0}
.cConsultationList .all a, .cConsultationSingle .all a {}
.cConsultationList .cViews {padding:10px 0; margin:0 0 20px 0; float:left; font-style:italic}

.cConsultationSpecialistList dl {}
.cConsultationSpecialistList dt i {padding:10px; font-size:18px; font-style:normal; display:block}
.cConsultationSpecialistList dd {margin:0; padding:0}
.cConsultationSpecialistList dd table {margin:5px}
.cConsultationSpecialistList .item {background:#ddd; margin:0 0 20px 0}
.cConsultationSpecialistList .item td {vertical-align:top}
.cConsultationSpecialistList .item b {color:#060; margin:0 10px 0 0; display:block; text-align:right}
.cConsultationSpecialistList .item th img {margin:0 5px 5px 5px; width:75px}
.cConsultationSpecialistList .item p {font-size:12px}
.cConsultationSpecialistList .descTable td {padding:0 0 10px 0}
.cConsultationSpecialistList .sq {width:5px; height:5px; line-height:0; font-size:0; float:left; margin:0 5px 5px 0; background:#EF3023}
.cConsultationSpecialistList .invisible {display:none;}
.cConsultationSpecialist {margin:0 0 50px 0}
.cConsultationSpecialist .desc {}
.cConsultationSpecialist .photo {}
.cConsultationSpecialist .specialization {margin:10px 0}
.cConsultationSpecialist .specialization b {color:green}
.cConsultationSpecialist .cConsultationList {border-top:1px solid; padding-top:20px}
.cConsultationSpecialistList .cRuler, .cConsultationSpecialist .cRuler {margin:-20px 0 20px 0}
