
.cProductCategoryList {list-style:none; padding:0}
.cProductCategoryList .item {padding:2px 0}
.cProductCategoryList ul {padding:0 0 0 20px}
.cProductCategoryList ul .item {font-size:14px; padding:5px 0}
.cCatModule { -moz-border-radius: 3px 3px 3px 3px; border-radius: 3px 3px 3px 3px; -webkit-border-radius: 3px 3px 3px 3px;
    background-color: #f8f8f8;
    border: 1px solid #aaa;
    float: right;
    padding: 6px;}

.cCatModule .cProductCategoryList li {fint-size:12px}

.cProductList {float:left; margin-right: 10px}
.cProductList .firstTh {border-border:5px 0 0 5px; -moz-border-border:5px 0 0 5px}
.cProductList .lastTh {border-border:0 5px 5px 0; -moz-border-border:0 5px 5px 0}
.cProductList th {background:#e8e8e8; padding:10px; border-right:1px solid #fff; text-align:left; color:#333; font-weight:normal}
.cProductList td {vertical-align:middle; padding:10px}
.cProductList .code, .cProductList .img, .cProductList .count, .cProductList .buy {text-align:center}
.cProductList .name {width:200px;}
.cProductList .img img {border:1px solid #ccc}
.cProductList .tradePrice {text-align:right}
.cProductList .tradePrice img {margin:0 0 0 3px}
.cProductList .count input, .cProductList .buy input {width:75px; text-align:center}
.cProductList .even td {background:#f6f6f6}

.mProductCategoryList {list-style:none; padding:0; margin:10px 0 0 0}
.mProductCategoryList ul {padding:0; width:auto; margin:3px 0 0 0}
.mProductCategoryList .item {border-bottom:1px dashed #ccc; font-size:12px}
.mProductCategoryList .item .item {border:0; background:url(/gfx/arrow.png) no-repeat 15px 10px; padding:0 0 0 20px}
.mProductCategoryList a:link, .mProductCategoryList a:visited {display:block; padding:10px 10px 10px 15px; text-decoration:none; background:#eee}
.mProductCategoryList b {display:block; padding:10px 10px 10px 15px; font-weight:normal; color:#c00}
.mProductCategoryList .item .item a:link, .mProductCategoryList .item .item a:visited {padding:5px 10px; color:#000; border-right:0}
.mProductCategoryList .item .item a:hover {text-decoration:underline; color:#b90e10}
.mProductCategoryList .item .item b {padding:5px 10px}

.mCartModule {width: 237px; background:url("/gfx/bot.png") no-repeat 0 bottom #f8f8f8; padding-bottom:15px;
border:1px solid #d3d2d2; border-radius:4px; margin-top:60px; -moz-border-radius:4px; webkit-border-radius:4px;
}
.mCartModule .hdr {background:#fff; width:210px; border-left:1px solid #d3d2d2;  border-right:1px solid #d3d2d2; margin:-2px 13px 0;
}
.mCartModule .hdr h2 {padding:13px; margin:0}
.mCartModule .tovarBlank {display:none; background:#fff; list-style:none; margin-left:13px;  border-left:1px solid #d3d2d2;  border-right:1px solid #d3d2d2;
width:210px; padding:0;}
.mCartModule .tovarTable {width:211px; margin: 5px 0 0;}
.mCartModule .tovarTable .price{ padding-left:15px; font-size:12px; color:#333;  width: 130px; padding-bottom:7px;}
.mCartModule .tovarTable .price div{float:left;}
.mCartModule .tovarTable .price img{float:left; margin-left:8px;}
.mCartModule .tovarTable .kolvo{width:60px; padding-bottom:7px;}
.mCartModule .tovarTable input {width:30px; text-align:right; padding-right:3px; font-size:18px; font-weight:bold;}
.mCartModule .tovarTable .close a{display:block; margin:-12px 10px -5px 0;}
.mCartModule .tovarList {list-style:none; padding:0; width:212px; background:#fff; margin-left:13px;}
.mCartModule .tovarList li {padding:10px 18px 0 0; border-bottom:1px dashed #ccc;  border-right: 1px solid #D3D2D2;  border-left: 1px solid #D3D2D2;}
.mCartModule .tovarList .name {font-size:12px; padding:0 10px 10px 18px; vertical-align:middle}
.mCartModule .tovarList .close {vertical-align:top}
.mCartModule .tovarList .price {vertical-align:middle; font-size:14px; color:#c00}
.mCartModule .tovarList .price div {width:75px; float:left; overflow:hidden; text-align:right}
.mCartModule .tovarList .price img {margin:3px 0 0 3px}
.mCartModule .tovarList .kolvo {font-size:12px; text-align:right; white-space:nowrap}
.mCartModule .tovarList .kolvo input {width:35px; text-align:center}
.mCartModule .itogo {background:#fff6c0; width:210px; border:1px solid #d3d2d2; margin-left: 13px; border-top:none; border-radius:4px; -moz-border-radius:4px; webkit-border-radius:4px;}
.mCartModule .itogo div {padding:18px; font-size:12px; font-weight:bold; color:#fbfbfb; border-bottom:1px solid #fff; border-radius:4px;  -moz-border-radius:4px; webkit-border-radius:4px;}

.mCartModule .itogo span {font-weight:bold; color:#333; font-size:18px; font-weight:bold;}
.mCartModule .itogo img{float:right;  margin: 5px 5px 0 0;}
.mCartModule .btns { width:210px; border-bottom:1px dashed #ccc; display:block; margin-left:13px;}
.mCartModule .btns input {}
.mCartModule .btns .offer {margin:18px 18px 5px 18px; font-size:18px; padding:5px; width:175px}
.mCartModule .btns .cart {margin:0 0 18px 18px; width:175px}

.cOfferForm {background:#eee; -moz-border-radius:10px; border-radius:10px; padding:10px; margin-bottom:30px;}
.cOfferForm h2 {margin:15px 0 5px 10px}
.cOfferForm .contactInfo th {width:250px; border-bottom:1px dashed #ddd}
.cOfferForm .contactInfo .text, .cOfferForm .contactInfo textarea {width:500px}
.cOfferForm table {background:#fff; width: 100%;}
.cOfferForm table td, .cOfferForm table th {padding:10px; text-align:left}
.cOfferForm .tovarList th {background:#eee}
.cOfferForm table td {border-bottom:1px dashed #ddd; vertical-align:middle}
.cOfferForm .price {text-align:right; white-space:nowrap}
.cOfferForm .kolvo {text-align:center}
.cOfferForm .kolvo input {width:40px; text-align:center}
.cOfferForm .itogo {padding:10px 0; background:#eee; text-align:right}
.cOfferForm .itogo td {text-align:right; border-bottom:0; padding-bottom:0; font-weight:bold}
.cOfferForm .price div {display:inline}
.cOfferForm .sum {font-size:18px; white-space:nowrap}
.cOfferForm .cena {text-align:right}