  /* v 1.00 (если вносите изменения - меняйте версию) */

/* Настраиваемая часть */
.cVideogalleryList .pic img {border:5px solid #fff}
.cVideogalleryList .pic:link, .cVideogalleryList .pic:link i, .cVideogalleryList .pic:link b {
  border:1px solid #ccc !important; background:#fff !important;
}
.cVideogalleryList .pic:visited, .cVideogalleryList .pic:visited i, .cVideogalleryList .pic:visited b {
  border:1px solid #ccc !important; background:#fff !important;
}
.cVideogalleryList .pic:hover, .cVideogalleryList .pic:hover i, .cVideogalleryList .pic:hover b {
  border:1px solid #aaa !important; background:#eee !important;
}
.cVideogalleryList .name {margin:0 0 10px 0; font-size:16px}
.cVideogalleryVideoList {margin: -1em 0 0 0; font-size:10px;}
.cVideogalleryVideoList .item {margin: 2em 0 0 0; min-width: 200px; font-size:10px; width: 20em;} /* Для указанного размера шрифта необходимо подогнать количество em в ИЕ */
.cVideogalleryVideoList .item .galm {margin: 0 0 146px 0; width: 200px}
.cVideogalleryVideoList a:hover img {border:2px solid #ddd}

.cVideogalleryBack {margin:0 0 20px 0}


/* Постоянная часть */
.cVideogalleryList {overflow:hidden}
.cVideogalleryList .item {padding:0 0 20px 0; margin:0; overflow:hidden}
.cVideogalleryList .pic {position:relative; float:left; margin:0; top:6px; left:4px; padding:0; display:block}
.cVideogalleryList .pic img {display:block}
.cVideogalleryList .pic i, .cVideogalleryList b {position:relative; top:-3px; left:-3px; display:block; margin:0}
.gmImgWithText .item {}
.gmImgWithText .item .pic {margin-right:20px}
.gmImgWithText .item .nameText {}
.gmImgList .item {float:left}
.gmImgList .item .nameText {display:none}
.gmImgList .item .clr {display:none}
.cVideogalleryVideoList {clear:both}
<!­­[if IE]>
.cVideogalleryVideoList {position: relative; display: inline-block; clear: both}
<![endif]-->
.cVideogalleryVideoList:after {content: ''; display: block; clear: both;}
.cVideogalleryVideoList .item {position: relative; float: left; display: inline; overflow: hidden}
.cVideogalleryVideoList .item .galr {position: absolute; top: 0; left: 0; width: 100%;}
.cVideogalleryVideoList .item .galm {height: 4em}