/* Настраиваемая часть */
.cEventsList .pic img {border:5px solid #fff}
.cEventsList .pic:link {
  border:1px solid #ccc !important; background:#fff !important;
}
.cEventsList .pic:visited {
  border:1px solid #ccc !important; background:#fff !important;
}
.cEventsList .pic:hover {
  border:1px solid #aaa !important; background:#eee !important;
}
.cEventsList .name { margin: 0 0 10px 15px; font-size: 16px; }
.cEventsList .text { margin: 0 0 10px 15px; font-size: 12px; }
.cEventsPhotoList { margin: -1em 0 0 0; font-size: 10px; }
.cEventsPhotoList .item {margin: 2em 0 0 0; min-width: 200px; font-size:10px; width: 20em;} /* Для указанного размера шрифта необходимо подогнать количество em в ИЕ */
.cEventsPhotoList .item .galm {margin: 0 0 75px 0; width: 200px}
.cEventsPhotoList a:hover img {border:4px solid #ddd}
.cEventsPhotoList a img {border:4px solid #fff}
.cEventsBack {margin:0 0 20px 15px;}

.cEventsVideoList { margin: -1em 0 0 15px; font-size: 10px; }
.cEventsVideoList .item {margin: 2em 0 0 0; min-width: 200px; font-size:10px; width: 20em;} /* Для указанного размера шрифта необходимо подогнать количество em в ИЕ */
.cEventsVideoList .item .galm {margin: 0 0 15px 0; width: 200px}
.cEventsVideoList a:hover img {border:4px solid #ddd}
.cEventsVideoList a img {border:4px solid #fff}

.cEventsAudioList { margin: -1em 0 0 15px; font-size: 10px; }
.cEventsAudioList .item {margin: 2em 0 0 0; min-width: 400px; font-size:10px; width: 20em;} /* Для указанного размера шрифта необходимо подогнать количество em в ИЕ */
.cEventsAudioList .item .galm {margin: 0 0 15px 0; width: 200px}
.cEventsAudioList a:hover img {border:4px solid #ddd}
.cEventsAudioList a img {border:4px solid #fff}

/* Постоянная часть */
.cEventsList { overflow: hidden; margin-left:15px;}
.cEventsList .item { padding:0 0 20px 0; margin:0; overflow:hidden}
.cEventsList .pic { position:relative; float:left; margin:0; padding:0; display:block}
.cEventsList .pic img {display:block}
.gmImgWithText .item {}
.gmImgWithText .item .pic {margin-right: 10px; }
.gmImgWithText .item .nameText {}
.gmImgList .item {float:left}
.gmImgList .item .nameText {display:none}
.gmImgList .item .clr {display:none}
.cEventsPhotoList {clear:both; margin-left:15px;}
<!­­[if IE]>
.cEventsPhotoList {position: relative; display: inline-block; clear: both}
<![endif]-->
.cEventsPhotoList:after {content: ''; display: block; clear: both;}
.cEventsPhotoList .item {position: relative; float: left; display: inline; overflow: hidden}
.cEventsPhotoList .item .galr {position: absolute; top: 0; left: 0; width: 100%;}
.cEventsPhotoList .item .galm {height: 4em}